body{
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1{
    font-family: (Montserrat);
    font-weight: bold;
    text-decoration: underline;
}

#LogoWiki {
    position: absolute;
    left: 12px;
    top: 12px;
}

ol{
    margin: 10px 20px;
    text-align: left;
}

li{
    font-size: 32px;
    font-weight: bold;
}

p{
    text-indent: 2em;

}